<mat-toolbar class="mat-elevation-z8">
	<span>Quizes list</span>
	<span class="toolbar-spacer"></span>
	<button mat-raised-button color="primary" (click)="fetchData()">Refresh</button>
</mat-toolbar>

<mat-form-field appearance="standard">
	<mat-label>Filter</mat-label>
	<input matInput (keyup)="applyFilter($event)" placeholder="Ex. Simple quiz" #input />
</mat-form-field>

<table [dataSource]="dataSource" mat-table matSort class="mat-elevation-z8">
	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
		<td mat-cell *matCellDef="let row">{{ row.id }}</td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th class="name-width" mat-header-cell *matHeaderCellDef mat-sort-header>NAME</th>
		<td class="name-width" mat-cell *matCellDef="let row">{{ row.name }}</td>
	</ng-container>

	<ng-container matColumnDef="category">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>CATEGORY</th>
		<td mat-cell *matCellDef="let row">{{ row.categoryName }}</td>
	</ng-container>

	<ng-container matColumnDef="difficulty">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>DIFFICULTY</th>
		<td mat-cell *matCellDef="let row">{{ difficulty[row.difficulty] }}</td>
	</ng-container>

	<ng-container matColumnDef="createdBy">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATED BY</th>
		<td mat-cell *matCellDef="let row">{{ row.createdByData }}</td>
	</ng-container>

	<ng-container matColumnDef="createdDate">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATED DATE</th>
		<td mat-cell *matCellDef="let row">
			{{ row.createdDate | date: "dd.MM.yyyy, H:mm" }}
		</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef>ACTIONS</th>
		<td mat-cell *matCellDef="let row">
			<button mat-raised-button color="primary" (click)="selectQuiz(row)" class="mr">
				Do
			</button>
			<button
				*ngIf="isAdmin()"
				mat-raised-button
				color="primary"
				(click)="deleteQuiz(row)"
			>
				Delete
			</button>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

	<tr class="mat-row" *matNoDataRow>
		<td class="mat-cell" colspan="4">No data</td>
	</tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25]" class="mat-elevation-z8"></mat-paginator>

<div *ngIf="isLoading" class="spinner">
	<mat-spinner></mat-spinner>
</div>
