<mat-toolbar class="mat-elevation-z8">
	<span>Selected quiz: {{ quizDetails?.name }}</span>
	<span class="spacer"></span>
	<countdown
		*ngIf="hasStarted"
		#cd
		[config]="{ leftTime: quizDetails?.timeLimitInSeconds }"
		(event)="handleEvent($event)"
	></countdown>
	<span class="spacer"></span>
	<button *ngIf="!hasStarted" mat-raised-button color="primary" (click)="startQuiz()">
		Start quiz
	</button>
	<button *ngIf="hasStarted" mat-raised-button color="primary" (click)="stopQuiz()">
		Stop quiz
	</button>
</mat-toolbar>
<app-quiz-details *ngIf="!hasStarted" [quizDetails]="quizDetails"></app-quiz-details>
<mat-card *ngIf="hasStarted">
	<mat-card-subtitle class="center">
		Question {{ selectedQuestionIndex + 1 }} / {{ numberOfQuestions }}
	</mat-card-subtitle>
	<mat-card-content>
		<mat-radio-group [(ngModel)]="selectedAnswer" (change)="radioChange($event)">
			<p class="center">{{ selectedQuestion?.questionContent }}</p>
			<mat-radio-button class="row" value="1">{{
				selectedQuestion?.answer1
			}}</mat-radio-button>
			<mat-divider inset></mat-divider>
			<mat-radio-button class="row" value="2">{{
				selectedQuestion?.answer2
			}}</mat-radio-button>
			<mat-divider inset></mat-divider>
			<mat-radio-button class="row" value="3">{{
				selectedQuestion?.answer3
			}}</mat-radio-button>
			<mat-divider inset></mat-divider>
			<mat-radio-button class="row" value="4">{{
				selectedQuestion?.answer4
			}}</mat-radio-button>
		</mat-radio-group>
		<mat-toolbar>
			<button
				mat-raised-button
				color="primary"
				(click)="previousQuestion()"
				[disabled]="selectedQuestionIndex === 0"
			>
				Previous
			</button>
			<span class="spacer"></span>
			<button mat-raised-button color="primary" (click)="nextQuestion()">Next</button>
		</mat-toolbar>
	</mat-card-content>
</mat-card>
