.spacer {
	flex: 1 1 auto;
}

.mat-toolbar {
	background: #fff;
	color: black;
}

mat-card {
	margin: 50px 250px;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	margin: 25px;
}
