<mat-card>
	<mat-card-content>
		<div class="row">
			<div class="column">
				<p><b>Name</b></p>
				<p>{{ quizDetails?.name }}</p>
			</div>
			<div class="column">
				<p><b>Created date</b></p>
				<p>{{ quizDetails?.createdDate | date: "dd.MM.yyyy, H:mm" }}</p>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<p><b>Category</b></p>
				<p>{{ quizDetails?.categoryName }}</p>
			</div>
			<div class="column">
				<p><b>Created by</b></p>
				<p>{{ quizDetails?.createdByData }}</p>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<p><b>Number of questions</b></p>
				<p>{{ quizDetails?.numberOfQuestions }}</p>
			</div>
			<div class="column">
				<p><b>Modification date</b></p>
				<p>{{ (quizDetails?.modificationDate | date: "dd.MM.yyyy") ?? "-" }}</p>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<p><b>Difficulty</b></p>
				<p>{{ difficulty[quizDetails?.difficulty] }}</p>
			</div>
			<div class="column">
				<p><b>Modified by</b></p>
				<p>{{ quizDetails?.modifiedByData ?? "-" }}</p>
			</div>
		</div>
		<div class="column">
			<p><b>Time limit</b></p>
			<p>{{ quizDetails?.timeLimitInSeconds }}</p>
		</div>
	</mat-card-content>
</mat-card>
