.spacer {
	flex: 1 1 auto;
}

.mat-toolbar {
	background: #fff;
	color: black;
}

.mat-form-field {
	width: 90%;
}

.form {
	margin: 30px;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

.m-r {
	margin-right: 20px;
}

.spinner {
	display: flex;
	margin-top: 100px;
	justify-content: center;
	align-items: center;
}
