<div *ngIf="!isLoading">
	<form [formGroup]="form" (ngSubmit)="saveQuiz()">
		<mat-toolbar class="mat-elevation-z8">
			<span> {{ quizAddModify?.id ? "Modify quiz" : "Add new quiz" }} </span>
			<span class="spacer"></span>
			<button
				class="m-r"
				mat-raised-button
				color="primary"
				type="button"
				(click)="addQuestion()"
			>
				Add question
			</button>
			<button mat-raised-button color="primary" type="submit">Save</button>
		</mat-toolbar>

		<div class="form">
			<div class="row">
				<div class="column">
					<mat-form-field appearance="fill">
						<mat-label>Name</mat-label>
						<input type="text" matInput formControlName="name" />
						<mat-error *ngIf="form.hasError('required')">
							Name <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="column">
					<mat-form-field appearance="fill">
						<mat-label>Category</mat-label>
						<mat-select formControlName="category">
							<mat-option *ngFor="let category of categories" [value]="category">
								{{ category.name }}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="form.hasError('required')">
							Category <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<mat-form-field appearance="fill">
						<mat-label>Time limit [s]</mat-label>
						<input type="number" min="1" matInput formControlName="timeLimitInSeconds" />
						<mat-error *ngIf="form.hasError('required')">
							Time limit <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="column">
					<mat-form-field appearance="fill">
						<mat-label>Difficulty</mat-label>
						<mat-select formControlName="difficulty">
							<mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">
								{{ Difficulty[difficulty] }}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="form.hasError('required')">
							Difficulty <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
		</div>
	</form>

	<div *ngFor="let question of quizAddModify?.questions">
		<app-question-add-modify
			[question]="question"
			(questionDataChangedEvent)="updateQuestion($event)"
			(deleteQuestionEvent)="deleteQuestion($event)"
		></app-question-add-modify>
	</div>
</div>
<div *ngIf="isLoading" class="spinner">
	<mat-spinner></mat-spinner>
</div>
