<div>
	<mat-card-title class="center"> Quiz completed </mat-card-title>
	<mat-card-subtitle class="center"> Congratulations </mat-card-subtitle>
	<mat-card-content>
		<div class="column">
			<p><b>Result</b></p>
			<p>{{ getResult() }}</p>
		</div>
		<div class="column">
			<p><b>Percentage result</b></p>
			<p>{{ getPercentageResult() }}</p>
		</div>
		<div class="column">
			<p><b>Created date</b></p>
			<p>{{ data.createdDate | date: "dd.MM.yyyy, H:mm" }}</p>
		</div>
		<mat-toolbar class="task-header">
			<button mat-raised-button color="primary" (click)="tryAgain()">Try again</button>
			<span class="spacer"></span>
			<button mat-raised-button color="primary" mat-dialog-close>Close</button>
		</mat-toolbar>
	</mat-card-content>
</div>
