<mat-toolbar class="mat-elevation-z8">
	<span>Users list</span>
	<span class="toolbar-spacer"></span>
	<button mat-raised-button color="primary" (click)="fetchData()">Refresh</button>
</mat-toolbar>

<mat-form-field appearance="standard">
	<mat-label>Filter</mat-label>
	<input matInput (keyup)="applyFilter($event)" placeholder="Ex. Simple result" #input />
</mat-form-field>

<table [dataSource]="dataSource" mat-table matSort class="mat-elevation-z8">
	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
		<td mat-cell *matCellDef="let row">{{ row.id }}</td>
	</ng-container>

	<ng-container matColumnDef="username">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>USERNAME</th>
		<td mat-cell *matCellDef="let row">{{ row.username }}</td>
	</ng-container>

	<ng-container matColumnDef="firstName">
		<th class="name-width" mat-header-cell *matHeaderCellDef mat-sort-header>
			FIRST NAME
		</th>
		<td class="name-width" mat-cell *matCellDef="let row">{{ row.firstName }}</td>
	</ng-container>

	<ng-container matColumnDef="lastName">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>LAST NAME</th>
		<td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
	</ng-container>

	<ng-container matColumnDef="email">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</th>
		<td mat-cell *matCellDef="let row">{{ row.email }}</td>
	</ng-container>

	<ng-container matColumnDef="role">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>ROLE</th>
		<td mat-cell *matCellDef="let row">{{ userRole[row.role] }}</td>
	</ng-container>

	<ng-container matColumnDef="createdDate">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATED DATE</th>
		<td mat-cell *matCellDef="let row">
			{{ row.createdDate | date: "dd.MM.yyyy, H:mm" }}
		</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef>ACTIONS</th>
		<td mat-cell *matCellDef="let row">
			<button mat-raised-button color="primary" (click)="modifyUser(row)" class="mr">
				Edit
			</button>
			<button mat-raised-button color="primary" (click)="deleteUser(row)">Delete</button>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

	<tr class="mat-row" *matNoDataRow>
		<td class="mat-cell" colspan="4">No data</td>
	</tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25]" class="mat-elevation-z8"></mat-paginator>

<div *ngIf="isLoading" class="spinner">
	<mat-spinner></mat-spinner>
</div>
