<mat-card *ngIf="!isLoading">
	<mat-card-header>
		<mat-card-title>Register</mat-card-title>
	</mat-card-header>
	<form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
		<mat-form-field appearance="fill">
			<mat-label>Username</mat-label>
			<input type="text" matInput formControlName="username" placeholder="Username" />
			<mat-error *ngIf="form.hasError('required')">
				Username <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Password</mat-label>
			<input type="password" matInput formControlName="password" placeholder="Password" />
			<mat-error *ngIf="form.hasError('required')">
				Password <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Password repeat</mat-label>
			<input
				type="password"
				matInput
				formControlName="passwordRepeat"
				placeholder="Password Repeat"
			/>
			<mat-error *ngIf="form.hasError('required')">
				Password repeat <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>First name</mat-label>
			<input type="text" matInput formControlName="firstName" placeholder="First name" />
			<mat-error *ngIf="form.hasError('required')">
				First name <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Last name</mat-label>
			<input type="text" matInput formControlName="lastName" placeholder="Last name" />
			<mat-error *ngIf="form.hasError('required')">
				Second name <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Email</mat-label>
			<input
				type="email"
				matInput
				formControlName="email"
				placeholder="Ex. pat@example.com"
			/>
			<mat-error *ngIf="form.hasError('email') && !form.hasError('required')">
				Please enter a valid email address
			</mat-error>
			<mat-error *ngIf="form.hasError('required')">
				Email is <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-toolbar class="task-header">
			<button type="submit" mat-raised-button color="primary">Register</button>
			<span class="fx-spacer"></span>
			<a mat-raised-button color="primary" (click)="backToLogin()"> Back to login </a>
		</mat-toolbar>
	</form>
</mat-card>
<div *ngIf="isLoading">
	<mat-spinner></mat-spinner>
</div>
