.mat-form-field {
	width: 100%;
	min-width: 300px;
}

:host {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 300px;
	height: 100vh;
}

.fx-spacer {
	flex: 1 1 auto;
}

.task-header {
	background-color: transparent;
	padding: 0 5px;
}
