table {
	width: 100%;
}

.mat-form-field {
	font-size: 14px;
	width: 50%;
}

.name-width {
	width: 30%;
}

.toolbar-spacer {
	flex: 1 1 auto;
}

.mat-toolbar {
	background: #fff;
	color: black;
}

.spinner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
