<mat-toolbar class="mat-elevation-z8">
	<span>My results list</span>
	<span class="toolbar-spacer"></span>
	<button mat-raised-button color="primary" (click)="fetchData()">Refresh</button>
</mat-toolbar>

<mat-form-field appearance="standard">
	<mat-label>Filter</mat-label>
	<input matInput (keyup)="applyFilter($event)" placeholder="Ex. Simple result" #input />
</mat-form-field>

<table [dataSource]="dataSource" mat-table matSort class="mat-elevation-z8">
	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
		<td mat-cell *matCellDef="let row">{{ row.id }}</td>
	</ng-container>

	<ng-container matColumnDef="quizId">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>QUIZ ID</th>
		<td mat-cell *matCellDef="let row">{{ row.quizId }}</td>
	</ng-container>

	<ng-container matColumnDef="quizName">
		<th class="name-width" mat-header-cell *matHeaderCellDef mat-sort-header>
			QUIZ NAME
		</th>
		<td class="name-width" mat-cell *matCellDef="let row">{{ row.quizName }}</td>
	</ng-container>

	<ng-container matColumnDef="result">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>RESULT</th>
		<td mat-cell *matCellDef="let row">{{ getResult(row) }}</td>
	</ng-container>

	<ng-container matColumnDef="percentageResult">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>PERCENTAGE RESULT</th>
		<td mat-cell *matCellDef="let row">{{ getPercentageResult(row) }}</td>
	</ng-container>

	<ng-container matColumnDef="createdDate">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATED DATE</th>
		<td mat-cell *matCellDef="let row">
			{{ row.createdDate | date: "dd.MM.yyyy, H:mm" }}
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

	<tr class="mat-row" *matNoDataRow>
		<td class="mat-cell" colspan="4">No data</td>
	</tr>
</table>
<div *ngIf="isLoading" class="spinner">
	<mat-spinner mode="indeterminate"></mat-spinner>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 25]" class="mat-elevation-z8"></mat-paginator>
