<mat-toolbar color="primary">
	<button mat-icon-button (click)="sidenav.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Quiz App</span>
	<span class="toolbar-spacer"></span>
	<span>Welcome {{ getUserFormattedData() }}</span>
	<button mat-icon-button (click)="logout()">
		<mat-icon>logout</mat-icon>
	</button>
</mat-toolbar>
<mat-sidenav-container>
	<mat-sidenav #sidenav opened="true" mode="side">
		<mat-nav-list>
			<mat-list-item routerLink="quiz-list">
				<mat-icon matListIcon class="mr-5">quiz</mat-icon>
				<a matLine>Take quiz</a>
			</mat-list-item>
			<mat-list-item routerLink="user-result-list">
				<mat-icon matListIcon class="mr-5">article</mat-icon>
				<a matLine>My results</a>
			</mat-list-item>
			<mat-list-item routerLink="user-quiz-list">
				<mat-icon matListIcon class="mr-5">article</mat-icon>
				<a matLine>My quizes</a>
			</mat-list-item>
			<mat-list-item routerLink="quiz-add">
				<mat-icon matListIcon class="mr-5">add_circle</mat-icon>
				<a matLine>Add quiz</a>
			</mat-list-item>
			<mat-list-item routerLink="user-account">
				<mat-icon matListIcon class="mr-5">account_circle</mat-icon>
				<a matLine>My account</a>
			</mat-list-item>
			<mat-list-item *ngIf="isAdmin()" routerLink="category-list">
				<mat-icon matListIcon class="mr-5">category</mat-icon>
				<a matLine>Categories</a>
			</mat-list-item>
			<mat-list-item *ngIf="isAdmin()" routerLink="user-list">
				<mat-icon matListIcon class="mr-5">people</mat-icon>
				<a matLine>Users</a>
			</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
