<mat-toolbar class="mat-elevation-z8">
	<span>{{ adminMode ? "User data" : "My data" }}</span>
	<span class="toolbar-spacer"></span>
	<button class="m-r" mat-raised-button color="primary" (click)="changePassword()">
		Change password
	</button>
	<button class="m-r" mat-raised-button color="primary" (click)="update()">Save</button>
	<button mat-raised-button color="primary" (click)="fetchData()">Refresh</button>
</mat-toolbar>

<div *ngIf="!isLoading" class="user-form">
	<form [formGroup]="form">
		<mat-form-field appearance="fill">
			<mat-label>Username</mat-label>
			<input
				type="text"
				matInput
				formControlName="username"
				placeholder="Username"
				readonly
			/>
			<mat-error *ngIf="form.hasError('required')">
				Username <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>First name</mat-label>
			<input type="text" matInput formControlName="firstName" placeholder="First name" />
			<mat-error *ngIf="form.hasError('required')">
				First name <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Last name</mat-label>
			<input type="text" matInput formControlName="lastName" placeholder="Last name" />
			<mat-error *ngIf="form.hasError('required')">
				Second name <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Email</mat-label>
			<input
				type="email"
				matInput
				formControlName="email"
				placeholder="Ex. pat@example.com"
			/>
			<mat-error *ngIf="form.hasError('email') && !form.hasError('required')">
				Please enter a valid email address
			</mat-error>
			<mat-error *ngIf="form.hasError('required')">
				Email is <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Creation date</mat-label>
			<input
				readonly
				type="date"
				matInput
				formControlName="createdDate"
				placeholder="Creation date"
			/>
		</mat-form-field>
	</form>
</div>
<div *ngIf="isLoading" class="spinner">
	<mat-spinner></mat-spinner>
</div>
