.mat-toolbar {
	background: #fff;
	color: black;
}

.toolbar-spacer {
	flex: 1 1 auto;
}

.mat-form-field {
	width: 100%;
	min-width: 300px;
}

.user-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 150px;
}

.spinner {
	display: flex;
	margin-top: 100px;
	justify-content: center;
	align-items: center;
}

.m-r {
	margin-right: 20px;
}
