mat-card {
	margin: 50px 150px;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	margin: 5px;
	align-items: center;
}

.mat-form-field {
	width: 100%;
}

.w100 {
	width: 100%;
}

.spacer {
	flex: 1 1 auto;
}
