<mat-card>
	<mat-card-subtitle class="center">
		<div class="spacer"></div>
		Question {{ question?.index + 1 }}
		<div class="spacer"></div>
		<button
			*ngIf="question?.index !== 0"
			mat-mini-fab
			color="primary"
			(click)="deleteQuestion(question?.index)"
		>
			<mat-icon>close</mat-icon>
		</button>
	</mat-card-subtitle>
	<mat-card-content>
		<div [formGroup]="form" class="w100">
			<mat-form-field appearance="fill">
				<mat-label>QuestionContent</mat-label>
				<input type="text" matInput formControlName="questionContent" />
				<mat-error *ngIf="form.hasError('required')">
					QuestionContent <strong>required</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<mat-radio-group [(ngModel)]="correctAnswer" (change)="radioChange($event)">
			<div class="row">
				<mat-radio-button value="1"></mat-radio-button>
				<div [formGroup]="form" class="w100">
					<mat-form-field appearance="fill">
						<mat-label>Answer 1</mat-label>
						<input type="text" matInput formControlName="answer1" />
						<mat-error *ngIf="form.hasError('required')">
							Answer 1 <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<mat-divider inset></mat-divider>
			<div class="row">
				<mat-radio-button value="2"></mat-radio-button>
				<div [formGroup]="form" class="w100">
					<mat-form-field appearance="fill">
						<mat-label>Answer 2</mat-label>
						<input type="text" matInput formControlName="answer2" />
						<mat-error *ngIf="form.hasError('required')">
							Answer 2 <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<mat-divider inset></mat-divider>
			<div class="row">
				<mat-radio-button value="3"></mat-radio-button>
				<div [formGroup]="form" class="w100">
					<mat-form-field appearance="fill">
						<mat-label>Answer 3</mat-label>
						<input type="text" matInput formControlName="answer3" />
						<mat-error *ngIf="form.hasError('required')">
							Answer 3 <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<mat-divider inset></mat-divider>
			<div class="row">
				<mat-radio-button value="4"></mat-radio-button>
				<div [formGroup]="form" class="w100">
					<mat-form-field appearance="fill">
						<mat-label>Answer 4</mat-label>
						<input type="text" matInput formControlName="answer4" />
						<mat-error *ngIf="form.hasError('required')">
							Answer 4 <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
		</mat-radio-group>
	</mat-card-content>
</mat-card>
