<mat-card *ngIf="!isLoading">
	<mat-card-header>
		<mat-card-title> Login </mat-card-title>
	</mat-card-header>
	<form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
		<mat-form-field appearance="fill">
			<mat-label>Username</mat-label>
			<input type="text" matInput formControlName="username" placeholder="Username" />
			<mat-error *ngIf="form.hasError('required')">
				Username <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Password</mat-label>
			<input type="password" matInput formControlName="password" placeholder="Password" />
			<mat-error *ngIf="form.hasError('required')">
				Password <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<mat-toolbar *ngIf="!appBlocked" class="task-header">
			<button type="submit" mat-raised-button color="primary">Login</button>
			<span class="spacer"></span>
			<a mat-raised-button color="primary" (click)="register()">Register</a>
		</mat-toolbar>
	</form>
</mat-card>
<div *ngIf="isLoading">
	<mat-spinner></mat-spinner>
</div>
