<div *ngIf="!isLoading">
	<mat-card-header>
		<mat-card-title> Change password </mat-card-title>
	</mat-card-header>
	<form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
		<mat-form-field appearance="fill">
			<mat-label>Current password</mat-label>
			<input type="password" matInput formControlName="currentPassword" />
			<mat-error *ngIf="form.hasError('required')">
				Current password <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>New password</mat-label>
			<input type="password" matInput formControlName="newPassword" />
			<mat-error *ngIf="form.hasError('required')">
				Password <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Repeat new password</mat-label>
			<input type="password" matInput formControlName="newPasswordRepeated" />
			<mat-error *ngIf="form.hasError('required')">
				Password <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-toolbar class="task-header">
			<button type="submit" mat-raised-button color="primary">Change</button>
			<span class="spacer"></span>
			<a mat-raised-button color="primary" mat-dialog-close>Cancel</a>
		</mat-toolbar>
	</form>
</div>
<div *ngIf="isLoading">
	<mat-spinner></mat-spinner>
</div>
