<div *ngIf="!isLoading">
	<mat-card-header>
		<mat-card-title> {{ data ? "Edit category" : "Add category" }} </mat-card-title>
	</mat-card-header>
	<form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
		<mat-form-field appearance="fill">
			<mat-label>Category name</mat-label>
			<input type="text" matInput formControlName="categoryName" />
			<mat-error *ngIf="form.hasError('required')">
				Category name <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-toolbar class="task-header">
			<button type="submit" mat-raised-button color="primary">Save</button>
			<span class="spacer"></span>
			<a mat-raised-button color="primary" mat-dialog-close>Cancel</a>
		</mat-toolbar>
	</form>
</div>
<div *ngIf="isLoading">
	<mat-spinner></mat-spinner>
</div>
